.img {
    width: 6em;
    height: auto;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  a{
    color: black;
    font-weight: bold;
  }

  .list-group-item {
 background-color: #0275d8
  }

  